{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Your Neighbor's Bookshelf!</h1>
    <h2>To find all books in the world!</h2>
    <h2>Login or Sign-up for free to get started!</h2>

    #todo: add search bar with location specifying capability, default:near me

    #todo: create results.html
        will show results of search with filter capabilities
        will show map of books near search area

    <!-- Search form -->
    <form class="form-inline md-form form-sm active-cyan-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </form>




{% endblock %}
